{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}User History{% endblock %}</h1>
{% endblock %}

{% block content %}

<body>

    {% if info is defined and info %}
        <table id="playlist-table">
            <tr>
                <th>Playlist Title</th>
                <th>Date Created</th>
            </tr>
        {% for i in info %}
        <tr>
            <td><a href="{{ url_for('user.view_entry', id=i['playlist_id']) }}">{{ i['playlist_title'] }}</a></td>
            <td>{{ i['created'].strftime('%Y-%m-%d') }}</td>
        </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>Oh wowie the user history list is empty. That's cool</p>
    {% endif %}

</body>


{% endblock %}