{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}About{% endblock %}</h1>
{% endblock %}

{% block content %}
  <p>Welcome to Resurgence! The purpose of this website is to help users make more informed decisions about
    what data contributes to the performance of videos on YouTube. I created this website as a side project
    so it is currently a work in progress, but I hope to add more functionality in the near future. </p>
  
  <p>We currently have one tool on Resurgence: The YouTube Video Analytics Tool, which you can access by clicking "Tools"
  in the navigation bar. </p>
{% endblock %}